.main {
    display: grid;
    position: absolute;
    width: 1390px;
    height: 4100px;
    left: 250px;
    margin-right: 100px;
    /* gap: 40px; */
    background-color: #e6ebf6;
}

.first-screen {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 80px;
    width: inherit;
    height: 850px;
    background-image: url(../images/desktop-1st-screen-white-bkg.png);
}

.nav-bar {
    margin: 5px 30px 20px 30px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    /* background-color: white; */
}

.my-logo {
    width: 86px;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.drawer-icon {
    display: none;
}

.home-links {
    width: 400px;
    display: flex;
}

.home-links a {
    text-decoration-line: none;
    font-size: 20px;
    width: 110px;
    color: black;
}

.sub-section-of-1 {
    width: inherit;
    height: 100%;
    background-image: url(../images/desktop-1st-screen-bkg.png);
}

.sub-div-of-sub-section-1 {
    margin: 200px 400px 100px 250px;
}

.primary-text {
    display: block;
    width: 200px;
    height: 180px;
    padding-top: 0px;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-primary-text {
    width: 200px;
    height: 150px;
    padding-top: 10px;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.top-primary-text {
    display: none;
}

.top-about-me {
    display: none;
}

.lets-connect {
    width: 150px;
    height: 30px;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
}

.social-media-icons {
    display: flex;
    width: 170.17px;
    height: 20px;
    padding-left: 15px;
    justify-content: space-between;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.desktop-card-works {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    gap: 0;
    height: 496px;
    width: 1156px;
    margin-left: 142px;
    margin-right: 142px;
    top: 0;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
}

.card-works {
    display: none;
}

.desktop-right-block-1 {
    margin: 15px 15px 15px 25px;
    height: 450px;
    width: 560px;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.desktop-left-block-1 {
    margin: 15px 15px 15px 25px;
    height: 450px;
    width: 560px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktop-sub-block-3 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 303px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: blueviolet;
}

.first-card-sub-block-3 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding: 0;
    gap: 8px;
    width: 303px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: blueviolet;
}

.desktop-left-block-1 img {
    height: inherit;
    width: inherit;
}

.desktop-right-block-1 img {
    height: inherit;
    width: inherit;
}

.desktop-right-block-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 40px;
    height: 430px;
    width: 490px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktop-left-block-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 40px;
    height: 430px;
    width: 490px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hand-cursor-img {
    order: 3;
    float: right;
    margin-left: 350px;
}

.canopy {
    font-size: 20px;
    font-weight: bolder;
}

.back-end-dev {
    width: 150px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.year {
    width: 50px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-my-self {
    display: flex;
    width: inherit;
    height: 570px;
    border-top-right-radius: 80px;
    background-image: url(../images/desktop-about-myself-backg.png);
}

.folder {
    margin-right: 30px;
    margin-left: 24px;
    height: 500px;
    width: 500px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-me {
    display: block;
    height: 100px;
    width: inherit;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-about-me {
    display: block;
    height: 130px;
    width: inherit;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-text-container {
    margin-left: 120px;
    margin-top: 60px;
    width: 420px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.about-my-self-social-md-icons {
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 20px;
    padding-left: 25px;
    justify-content: space-between;
    flex: none;

    /* order: 3; */
    flex-grow: 0;
}

.tonic-descrptn {
    margin-top: 10px;
    width: 460px;
    font-size: 18px;
}

.multi-post-descrptn {
    width: 460px;
    font-size: 18px;
    margin-top: 10px;
}

.multi-post-sub-block-1 {
    width: 500px;
    height: 100px;
}

.multi-post {
    margin-bottom: 5px;
    width: inherit;
}

.tonic-frame {
    width: 336px;
    height: 50px;
}

.skills {
    margin-top: 80px;
    list-style-type: none;
    width: 650px;
    height: 500px;
}

.desktop-lang-list {
    padding-right: 10px;
    display: block;
    float: left;
    width: 120px;
    height: 90px;
}

.main-lists {
    width: 690px;
    height: 80px;
}

.lang-list {
    display: none;
}

.bottom-icon {
    display: none;
}

.contact-form {
    background: #6070ff;
    background-image: url(../images/desktop-contact-form-bkg.png);
    border-top-left-radius: 75px;
    width: inherit;
    height: 780px;
}

.contact-me-descrptn {
    text-align: left;
    font-size: 18px;
    width: 450px;
}

.form {
    margin-left: 30px;
    display: flex;
    gap: 0;
    flex-direction: column;
    height: 400px;
}

#client-email {
    margin-top: 0;
    border-radius: 0;
}

#client-name {
    margin-top: 0;
    border-radius: 0;
}

#client-message {
    border-radius: 0;
    margin-top: 5px;
}

.get-it-touch-btn {
    margin-left: 80px;
}

.form-div {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 110px 100px 0 400px;
}

.main-cata {
    width: 300px;
    height: 80px;
}